@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
  --font-base: 'Montserrat', Arial, Helvetica, sans-serif;

  --color-primary: #296DC1;
  --color-secondary: #00A82D;

  --color-focus: #4892EC;
  --color-warning: #E86880;
  --color-background: #F2F5F9;
  --color-form-button: rgba(41, 109, 193, 0.5);

  --color-font-primary: #000;
  --color-font-secondary: #fff;
  --color-border: #DEDEDE;

  --color-footer-text: #7C828B;
  --color-footer-background: #A8AFBB;
  
  --color-form-button: rgba(41, 109, 193, 0.5);
  --color-overlay: rgba(40, 40, 40, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-base);
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: var(--color-font-primary);
}

h2 {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.3;
  color: var(--color-font-primary);
}

p {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-font-primary);
}

button {
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-font-secondary);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
}

input {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--color-font-primary);
  border: 1px solid var(--color-focus);
}

button:disabled,
button:disabled:hover {
  cursor: no-drop;
}
